@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    animation: body 1s linear;
      /* Pause the animation */
    animation-play-state: paused;
      /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
      /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
    box-sizing: border-box;
    height: 100%;
}

.container {
  max-height: 100vh;
    overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.headline {
  background-color: var(--color);
  display: flex;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  scroll-snap-align: start;
  width: 100vw;
}
.headline:nth-child(1) {
  --color: #fff;
}
.headline:nth-child(2) {
  --color: #3498db;
}
.headline:nth-child(3) {
  --color: #ff7979;
}
.headline:nth-child(4) {
  --color: #FFF;
}
.headline:nth-child(5) {
  --color: #e74c3c;
}
.headline:nth-child(6) {
  --color: #f8c291;
}

/*intro page start*/
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.container-title {
    display: grid;
    text-align: center;
    height: 30vw;
    position: absolute;
    top: 29vh;
    left: 11vw;
}

.title-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
    position: absolute;
    top: -3vw;
    opacity: 50%;
    text-shadow: 5px 5px black;
}
.title-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
    position: relative;
    top: 2vw;
    text-shadow: 5px 5px grey;
}

/*about page start*/
.about{
    margin-top: 40px;
    margin-left: 4%;
    margin-bottom: 10%;
    background-color: ghostwhite;
    height: 90%;
    width: 90%;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
}
.about-title{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: 120px;
    font-weight: 800;
}
.about-info{
    width: 60%;
    margin: auto;
    align-content: center;
}

.about-info-telemail{
    width: 400px;
    color: white;
    margin: auto;
    position: relative;
    top: -20%;
    left: 1%;
    font-size: 30px;
}
.about-info-telemail div{
    border-radius: 30px;
    background-color: #ff4851;
    padding: 9px;
    padding-left: 6%;
    margin-bottom: 12px;
}
.about-info-github{
    display: flex;
    position: relative;
    z-index: 100;
    float: left;
    justify-content: center;
    left: calc(50% - 140px);
    margin-top: 20px;
}
.about-info-github-1{
    margin-right: 30px;
}


.about-info-Github{
  -moz-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -o-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -webkit-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  white-space: nowrap;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff4851;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.about-info-Github{
    position: relative;
}
.about-info-Github:after {
  content: attr(href);
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  overflow: hidden;
  background-color: #ff4851;
  text-transform: lowercase;
  position: absolute;
  font-size: 10px;
  letter-spacing: 0;
  font-weight: 500;
  bottom: -8px;
  left: 0;
  width: 100%;
  display: inline-block;
  -moz-transform: translate(-15px, 100%);
  -ms-transform: translate(-15px, 100%);
  -webkit-transform: translate(-15px, 100%);
  transform: translate(-15px, 100%);
  padding: 0 15px;
  max-height: 0;
  z-index: -1;
}
.about-info-Github:before {
  content: "";
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -o-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -webkit-transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  transition: all 0.15s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff4851;
  bottom: -5px;
  z-index: -2;
}
.about-info-Github:hover {
  color: white;
}
.about-info-Github:hover:before {
  padding: 10px 15px;
  margin-left: -15px;
  bottom: -10px;
  height: 100%;
}
.about-info-Github:hover:after {
  -moz-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -o-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -webkit-transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35);
  -webkit-transition-delay: 0.3s;
  transition: all 0.25s cubic-bezier(0.46, 0.01, 0.14, 1.35) 0.3s;
  -moz-transform: translate(-15px, 50%);
  -ms-transform: translate(-15px, 50%);
  -webkit-transform: translate(-15px, 50%);
  transform: translate(-15px, 50%);
  padding: 10px 15px;
  max-height: 30px;
  opacity: 1;
}



.about-detail{
    margin-top: 140px;
    padding: 50px;
    text-align: center;
    font-family: 'Kalam', cursive;
}
.text {
    line-height:1.8;
    text-decoration:none;
    border-bottom: 2px solid #ef8b80;
    box-shadow: inset 0 -4px 0 #ef8b80;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}
.text:hover {
  background: #ef8b80;
}

/*strength page*/
.strength{
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 10%;
    height: 90%;
    width: 90%;
    font-family: "Raleway";
}
.strength-title{
    position: relative;
    top: 1%;
    left: 3%;
    color: rgba(35, 35, 35, 0.8);
    font-size: 80px;
    font-weight: 1000;
    font-style: normal;
    text-shadow: 5px 5px white;
}
.language{
    font-size: 25px;
    text-align: center;
    display: flex;
    position: relative;
    height: 100px;
    top: calc(50% - 390px);
    justify-content: center;
}
.language div{
    border: 5px solid white;
    margin: 20px;
    width: 120px;
    border-radius: 50px;
    line-height: 200%;
}
.language-card{
    position: relative;
    width: 600px;
    height: 250px;
    border: 3px solid white;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}
.language-card-container-1{
    display: flex;
    position: relative;
    z-index: 100;
    justify-content: center;
    margin-top: 50px;
}
.language-card-1{
    margin-right: 30px;
}
.language-card-2{
    
}
.language-card-container-2{
    display: flex;
    position: relative;
    z-index: 100;
    justify-content: center;
    margin-top: 50px;
}
.language-card-3{
    margin-right: 30px;
}
.language-card-4{
    
}

/*school activity page start*/
.school{
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 10%;
    height: 90%;
    width: 90%;
    font-family: "Raleway";
}
.activity-title{
    position: absolute;
    top: calc(25% + 110px);
    left: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 4px 4px white;
    z-index: 100;
    font-family: 'Kalam', cursive;
}
.activity-title-box{
    position: absolute;
    background-color: rgb(200, 75, 49);
    width: 200px;
    height: 65px;
    top: calc(26% + 110px);
    left: 115px;
}
.activity-detail-container{
    border-left: 6px solid rgb(200, 75, 49);
    border-bottom: 6px solid rgb(200, 75, 49);
    width: 700px;
    height: 433px;
    top: 400px;
    left: 115px;
    position: absolute;
}
.activity-detail{
    position: absolute;
    top: 12%;
    left: 8%;
    width: calc(70% + 20px);
    height: 41%;
    line-height:1.8;
    font-size: 27px;
    padding-left: 40px;
    padding-top: 30px;
    
}

.school-title{
    position: absolute;
    top: calc(42% + 100px);
    right: 120px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 4px 4px white;
    z-index: 100;
    font-family: 'Kalam', cursive;
}
.school-title-box{
    position: absolute;
    background-color: rgb(200, 75, 49);
    width: 155px;
    height: 65px;
    top: calc(42% + 107px);
    right: 115px;

}
.school-detail-container{
    border-right: 6px solid rgb(200, 75, 49);
    width: 1000px;
    height: 433px;
    top: 80px;
    right: 115px;
    position: absolute;
}
.school-detail{
    position: absolute;
    top: 7%;
    right: 8%;
    width: calc(50% + 20px);
    height: 35%;
    line-height:1.8;
    font-size: 27px;
    padding-right: 40px;
    padding-top: 50px;
    text-align: right;
}


/*project page start*/
.project{
    width: 90%;
    height: 90%;
    font-family: "Raleway";
    padding: 20px;
}
.project-title{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 120px;
    font-weight: 1000;
    font-style: normal;
    color: rgb(0, 255, 148);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}
.project-title::after {
    content: "Projects";
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 0.1rem rgb(0, 26, 255);
    top: -0.4rem;
    left: -0.4rem;
}
.wrap1 {
    margin:50px auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:1200px;
    position: relative;
    top: calc(18% - 10px);
    left: calc(10% - 50px);
    
}
.wrap2{
    margin:50px auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:1200px;
    position: relative;
    top: calc(15% - 10px);
    left: calc(10% - 50px);
}
.tile{
    width:580px;
    height:320px;
    margin:15px;
    background-color:#99aeff;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    font-family:'Raleway'; 
}
.tile .text{
/*   z-index:99; */
    position:absolute;
    padding:30px;
}
.tile-title{
    font-size: 42px;
    font-weight:600;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
    font-size: 20px;
    font-weight:600;
    margin:20px 0 0 0;
   transform: translateX(200px);
}
.tile p{
    font-weight:300;
    margin:20px 0 0 0;
    line-height: 25px;
/*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}
.animate-text{
    opacity:0;
    transition: all 0.6s ease-in-out;
}
.tile:hover{
/*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap1 {
   flex-direction: row;
    width:90%;
      height: 40%;
  }
    .wrap2 {
   flex-direction: row;
    width:90%;
        height: 40%;
  }
}
